

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.noto-sans-kr {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing : auto;
  font-weight: weight;
  font-style: normal;
}

*{
    font-family: "Noto Sans KR", sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
}

body
{
    background-color: #333;
    display: flex;
    flex-direction: column;
}

#menus{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 20px 0px;

}

.menuSticky{
    position: sticky  !important;
    top: 0px;
    z-index: 1000;
}

.row
{
    width: 1440px;
    display: flex;
    position: relative;
    margin: 0 auto;
    padding: 0px 5px;
    align-items: center;
}

.flexBox{
    display: flex; 
}

.flexColumn{flex-direction: column;}

.flexBoxJCSE{justify-content: space-evenly;}
.flexBoxJCC{justify-content: center;}
.flexBoxJCR{justify-content:right;}
.flexBoxAIC{align-items: center;}
.flexBoxAIE{align-items:flex-end;}


.hLine{border-top: solid 2px white; margin: 0px 20px;}
.hLine2{border-top: solid 2px white; margin: 10px 0px;}
.hLine3{border-top: solid 2px white; margin: 10px 120px;}

.vLine{border-left: solid 2px white;}
.marginTop500{margin-top: 500px;}
.marginLeft40{margin-left: 40px;}
.w150{width: 150px;}
.w230{width: 230px;}
.w350{width: 350px;}
.w460{width: 460px;}
.h15{height: 15px;}
.h80{height: 80px;}
.h110{height: 110px;}
.h150{height: 150px;}
.h200{height: 200px;}
.h250{height: 250px;}
.h420{height: 420px;}
.h900{height: 900px;}


.col-1{ width: 100px; padding: 0px 10px;}
.col-2{ width: 220px; padding: 0px 10px;}
.col-3{ width: 340px; padding: 0px 10px;}
.col-4{ width: 460px; padding: 0px 10px;}
.col-5{ width: 580px; padding: 0px 10px;}
.col-6{ width: 700px; padding: 0px 10px;}
.col-7{ width: 820px; padding: 0px 10px;}
.col-8{ width: 940px; padding: 0px 10px;}
.col-9{ width: 1060px; padding: 0px 10px;}
.col-10{ width: 1180px; padding: 0px 10px;}
.col-11{ width: 1300px; padding: 0px 10px;}
.col-12{ width: 100%; padding: 0px 10px;}

.absBox{
    position: absolute;
    width: 1440px;
}



.padiingRight120{padding-right: 120px;}

p{

 }

 

img{
    width: 100%;
}

.m{
    position: relative;
    width: 590px;
    height: 710px;
}


.c{
    position: absolute;
    width: 590px;
    height: 710px;
}


.m2{
    position: relative;
    width: 590px;
    height: 430px;
}


.c2{
    position: absolute;
    width: 590px;
    height: 430px;
}

.m3{
    position: relative;
    width: 1440px;
    height: 900px;
}

.c3{
    position: absolute;
    width: 1440px;
    height: 900px;
}





.tAlignCenter{ text-align: center;}
.tAlignLeft{ text-align: left;}


.bgGray{
    background-color: #333;
}

.text_r{
    text-align: right;
}

.text_c{
    text-align: center;
}

.round-rectangle {
    width: 1440px;
    height: 350px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
}

.head{
    font-size: 50px;
}

.footer{
    font-size: 70px;
    padding: 30px 0px 150px 50px;
}

.footer2{
    font-size: 17px;
    padding: 0px 50px;
}

.thin{
    font-weight: 300;
}

.ani{
    transition-duration: 1s;
    opacity: 0;
}

.ani.on{
    opacity: 1;
}
